<!--<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>
<ul>
	<% @cart.line_items.each do |item| %>
	<li>
		<%= item.quantity %> &times; 
		<%= item.product.title %>
		<%= link_to 'Edit', edit_cart_path(@cart) %> |
		<%= link_to 'Back', carts_path %> |
		<%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
	</li>
	<% end %>
</ul>

<p>
	<span class="price">Total: <%= number_to_currency(@totalPrice) %></span>
</p>

<div class="cart_title" >Your Cart</div>
<table>
<%= render(@cart.line_items) %>
<tr class="total_line" >
<td colspan="2" >Total</td>
<td class="total_cell" ><%= number_to_currency(@cart.total_price) %></td>
</tr>
</table>
<%= button_to 'Empty cart', @cart, :method => :delete,
:confirm => 'Are you sure?' %>-->

<!--<%= render @cart %>-->

<div class="cart_title" >Your Cart</div>
<table>
<% @cart.line_items.each do |item| %>
<tr>
<td><%= item.quantity %>&times;</td>
<td><%= item.product.title %></td>
<td class="item_price" ><%= number_to_currency(item.total_price) %></td>
</tr>
<% end %>
<tr class="total_line" >
<td colspan="2" >Total</td>
<td class="total_cell" ><%= number_to_currency(@cart.total_price) %></td>
</tr>
</table>
<%= button_to 'Empty cart', @cart, :method => :delete,
:confirm => 'Are you sure?' %>